{% extends 'base.html' %}
{% block content %}
<div class="h-screen grid place-items-center">
  <form method="POST" class="flex flex-col w-full sm:w-[500px] px-5 sm:px-14 gap-y-2 items-center">
    <h1 class="text-center text-5xl mb-3">Dross</h1>
    {% if messages %}
      {% for message in messages %}
        <div class="{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <input class="w-full h-8 outline-none active:ring-4 hover:ring-4 ring-header rounded-full transition px-4 py-6 text-xl bg-field" type="text" id="username" name="username" placeholder="username" autofocus>
    <input class="w-full h-8 outline-none active:ring-4 hover:ring-4 ring-header rounded-full transition px-4 py-6 text-xl bg-field " type="password" id="password" name="password" placeholder="password">
    <button type="submit" class="w-full bg-header hover:bg-field transition ease-in-out mt-1 px-4 py-3 rounded-full">Let's go</button>
  </form>
</div>
{% endblock content %}
